@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  font-size: $font-size-normal;
  background-color: $text-light; 
}

h1 {
  font-size: $font-size-normal;
  color: $white;
}

a {
  text-decoration: none;
  color: $text-dark;
  cursor: pointer;
}

h2 {
  font-size: $font-size-normal;
}

.container {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
  background-color: $white;
}

.main {
  display: flex;
}

li {
  list-style: none;
}
