@import 'variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: sans-serif;
}

body {
  font-size: $font-size-normal;
  background-color: $text-light;
}

h1,
h2 {
  font-size: $font-size-normal;
  font-weight: 700;
}

h1 {
  color: $white;
}

a {
  text-decoration: none;
  color: $text-dark;
  cursor: pointer;
}

.container {
  width: 1440px;
  height: 100vh;
  margin: 0 auto;
  background-color: $white;
}

.main {
  display: flex;
}

li {
  list-style: none;
}

.small {
  font-size: $font-size-small;
  color: $text-light;
}

.error,
.loading {
  font-weight: 700;
  text-align: center;
  padding-top: 16px;
}

.error {
  color: $text-emphasis;
}

.loading {
  color: $text-light;
}
