@import 'variables';

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;

  .spinner {
    width: 25px;
    height: 25px;
    display: grid;
    border-radius: 50%;
    -webkit-mask: radial-gradient(farthest-side, #0000 50%, #000 10%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3))
        center/4px 100%,
      linear-gradient(90deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2) 0)
        center/100% 4px;
    background-repeat: no-repeat;
    animation: s3 1s infinite steps(14);

    &::before,
    &::after {
      content: '';
      grid-area: 1/1;
      border-radius: 50%;
      background: inherit;
      transform: rotate(30deg);
    }
    &::after {
      transform: rotate(60deg);
    }

    @keyframes s3 {
      100% {
        transform: rotate(1turn);
      }
    }
  }

  .loading {
    padding-left: 9px;
    font-weight: 700;
    color: $text-light;
  }
}
